# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

**/target

**/**/test

# alibaba pay
world-pay/src/main/resources/key